@import 'styles/Colors';
@import 'styles/components/Search';
@import 'styles/pages/Entity';
@import 'styles/pages/Front';
@import 'styles/pages/Search';

body {
  background-color: $bgColor;
  color: $primaryColor;
  font-family: 'Inconsolata', monospace;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body::after {
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25) 1px,
    transparent 1px,
    transparent 2px
  );
  bottom: 0;
  content: '';
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  pointer-events: none;
}

body a {
  color: $primaryColor;
  text-decoration: underline;
  text-decoration-color: $lightPrimaryColor;
}

input {
  background-color: transparent;
  border: 1px solid $primaryColor;
  color: $primaryColor;
  font-family: 'Inconsolata', monospace;
}

.center {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#header {
  background-color: $bgColor;
  border-bottom: solid 1px $primaryColor;
  display: flex;
  height: 32px;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

#header .right {
  flex-grow: 1;
  margin-right: 15px;
  text-align: right;
}

#header .search-input {
  margin-top: 4px;
  width: 300px;
}

#header .search-input input[type='search'] {
  font-size: 1.2em;
}

#content {
  background-color: $bgColor;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 43px;
}
