@import 'src/styles/Colors';

.search-input {
  display: inline-block;
  position: relative;
}

.search-input input[type='search'] {
  outline: none;
  width: 100%;
}

.search-input .suggestions {
  border: 1px solid $primaryColor;
  border-top: none;
  display: none;
  position: absolute;
  width: calc(100% - 2px);
}

.search-input.suggestions-visible .suggestions {
  background-color: $bgColor;
  display: block;
}

.search-input .suggestions .no-results {
  padding: 5px;
}

.search-input .suggestions .suggestion {
  border-bottom: 1px solid;
  display: flex;
  padding: 5px;
  position: relative;
  text-align: left;
}

.search-input .suggestions .suggestion:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.search-input .suggestions .suggestion .description {
  flex-grow: 1;
  margin-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-input .suggestions .suggestion .type {
  font-size: 0.8em;
}
