@import '../Colors';

.entity {
  padding: 20px;
}

.entity > .name {
  font-size: 2em;
  font-weight: bold;
}

.entity > .subheader {
  color: $secondaryColor;
  margin-bottom: 20px;
  margin-top: 5px;
}

.entity > .description {
  font-size: 1.1em;
  text-align: justify;
}

.entity .here > * {
  margin-right: 7px;
}

.entity .here .locked .blurb {
  margin-right: 7px;
}

.entity .here a {
  color: $highlightColor;
}

.entity .mobs li {
  margin: 4px 0;
}

.entity .objects li {
  margin: 4px 0;
}

.entity .recipes .mob {
  margin: 0 7px;
}

.entity .recipes .room {
  margin-left: 7px;
}

.entity .rooms li {
  margin: 4px 0;
}

.entity > .section {
  margin-top: 20px;
}

.entity > .section .title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.object .affect > * {
  margin-right: 7px;
}

.object .anti {
  margin-top: 20px;
}

.room > .exits {
  margin-top: 20px;
}

.room > .exits .exit {
  margin: 5px 0;
}

.room > .exits .exit .link {
  font-weight: bold;
}

.room .recipes .recipe {
  margin-bottom: 20px;
}

.room .recipes .recipe .ingredients {
  margin-left: 20px;
}

.room .recipes .recipe .ingredients .ingredient {
  margin: 5px 0;
}

.room .recipes .recipe .ingredients .ingredient .numRequired {
  margin-right: 10px;
}

.room > .spawns {
  margin-top: 20px;
}
